@if(loading) {
  <div class="spinner-container">
    <mat-spinner color="accent"></mat-spinner>
  </div>
} @else {
  <div class="songs-container">
    <div class="header-container">
      <h2 class="header">All Songs</h2>
    </div>
    
    <div class="songs-grid">
      @for(song of songs; track song.id) {
        <app-song-card
          [song]="song"
          (play)="playSong($event)"
          (delete)="deleteSong($event)"
          (edit)="updateSong($event)"
          (download)="downloadSong($event)">
        </app-song-card>
      }
    </div>
  </div>
}
