/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-color: #f5f5f5;
}

.mat-icon-button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* Fix for mat-sidenav */
.mat-drawer-inner-container {
  overflow: hidden !important;
  display: flex !important;
  flex-direction: column !important;
}

/* Fix for mat-slider */
.mat-mdc-slider {
  width: 100%;
}
